@page "/accountdetails"
<PageTitle>details</PageTitle>

<div class="account-details">
    <div class="container">

        <ProfileMenuPartial />

        <BasicInfoFormPartial />

        <div class="address">
            <h5>Address Info</h5>
            <div class="adress">

                <AddressInfoFormPartial />

            </div>
        </div>
    </div>
</div>

@code {

}
