@page "/messages"
<PageTitle>messages</PageTitle>

<section id="messages">

    <div class="container">

        <ProfileMenuPartial />
         <div class="chat">
             <div class="messages"></div>
             <p>
                En nice chatt...

             </p>
         </div>
    </div>


</section>


@code {

}
