
<EditForm Model="Form" method="post" novalidate>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div id="form-email" class="input-group">
        <label for="Email">Email address</label>
        <span ="Email"></span>
        <InputText @bind-Value="Form.Email" id="Email" placeholder="Enter your email address" />
    </div>

    <div id="form-password" class="input-group">
        <label for="Password">Password</label>
        <span asp-validation-for="Password"></span>
        <InputText @bind-Value="Form.Password" id="Password" placeholder="Enter your password" />
    </div>

    <div id="form-remeber" class="checkbox-group">
        <div class="checkbox">
            <InputCheckbox id="Remember" @bind-Value="Form.Remeber" />
            <label for="Remember">Remeber me</label>
        </div>
    </div>

    <button type="submit" class="btn-theme">Sign in</button>

</EditForm>

@code {
    private SignInFormModel Form = new SignInFormModel();
}
