.showcase {
    margin-bottom: 1rem;

    @include lg {
        margin-bottom: 8rem;
    }

    .container {
        display: block;
        position: relative;

        @include md {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .showcase-left {
            text-align: center;
            margin-top: 1rem;

            @include md {
                text-align: start;
                margin-top: 4rem;
            }

            @include xl {
                margin-right: 0px;
            }

            @include xxl {
                margin-right: 680px;
            }

            h1 {
                @include h2;

                @include xl {
                    @include d4;
                }
            }

            .text {
                @include text-lg;
                margin-top: 2rem;
                margin-right: 90px;
            }

            .btn-theme-s {
                margin: 2rem 0;

                @include md {
                    display: inline-block;
                    margin: 3rem 0 6rem 0;
                }
            }
            
            .brands {
                margin-top: 2rem;

                img {
                    margin-right: 0.9rem;
                }
            }
        }

        .showcase-right {
            display: none;

            @include md {
                display: block;
                padding-top: 4rem;
            }

            @include xxl {
                padding: 0;
            }

            img {
                @include md {
                    width: 100%;
                    height: auto;
                    margin-right: -50px;
                }

                @include xl {
                    margin-right: 0;
                }

                @include xxl {
                    width: 75%;
                    height: auto;
                    position: absolute;
                    right: -21.893%;
                    top: 0;
                    margin: 0;
                }
            }
        }
    }
}
