///Responsiveness is ok but it needs to be refactored to be more effective.

.course-details {
    position: relative;
    margin: 1rem 0;

    .bg-container-s-to-lg {
        @include background;
    }

    .top-container {
        @include xl {
            position: absolute;
            inset: 0;
            display: flex;
            max-height: 700px;
        }

        .grid-container {
            grid-template-columns: auto;


            .button-wrapper {
                @include xl {
                    position: absolute;
                    top: 2.5rem;
                }

                @include xxl {
                    top: 3.5rem;
                }

                .best-seller {
                    @include course-button;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;

                    @include lg {
                        top: 4rem;
                        right: 2rem;
                    }

                    @include xl {
                        position: relative;
                        inset: inherit;
                        margin: 0 0.5rem 0 0;
                    }
                }

                .digital {
                    @include course-button;
                    background-color: var(--color-gray-200);
                    color: var(--color-gray-900);
                    position: absolute;
                    top: 3.5rem;
                    right: 1rem;

                    @include lg {
                        top: 6.5rem;
                        right: 2rem;
                    }

                    @include xl {
                        position: relative;
                        inset: inherit;
                    }
                }
            }

            nav {
                @include xl {
                    margin: 0;
                }

                ol {
                    @include xxl {
                        margin: 1rem 0;
                    }

                    i, li > a, .active > a, .breadcrumb-details {
                        color: var(--color-gray-900);

                        @include xl {
                            color: #fff;
                        }
                    }

                    li {
                        padding: 0.2rem;

                        a {
                            font-size: 0.6rem;

                            @include lg {
                                font-size: 0.8125rem;
                            }

                            @include xl {
                                font-size: 1rem;
                            }
                        }
                    }

                    .active {
                        margin-left: -0.5rem;
                    }

                    .breadcrumb-item {
                        + .breadcrumb-item {
                            &::before {
                                font-size: 0.8125rem;
                                color: var(--color-black);

                                @include xl{ 
                                    font-size: 1rem;
                                    color: var(--color-white);
                                }
                            }
                        }
                    }
                }
            }

            .title-wrapper {

                @include xl {
                    margin: 3rem 0 1rem;
                }

                @include xxl {
                    margin: 6rem 0 4rem;
                }

                h1 {
                    @include h4;

                    @include xl {
                        color: #fff;
                    }
                }

                p {
                    @include text-s;

                    @include xl {
                        color: #fff;
                    }
                }
            }

            .ratings-wrapper {
                .stars {
                    display: block;

                    @include lg {
                        display: inline;
                    }

                    .fa-solid {
                        color: var(--color-warning);
                    }

                    .fa-light {
                        color: var(--color-gray-500);
                    }

                    .fa-star {
                        margin-left: 0.2rem;
                    }

                    .leftmost-star {
                        margin-left: -0.5rem;
                    }
                }

                i, span {
                    margin-left: 0.5rem;

                    @include xl {
                        color: #fff;
                    }
                }

                .course-ingress {
                    margin-left: 0
                }
            }

            .author-wrapper {
                display: flex;
                justify-content: flex-start;
                gap: 1rem;
                margin: 1rem 0 0 0;

                @include xl {
                    margin: 3rem 0 0 0;
                }

                @include xxl {
                    margin: 4rem 0 0 0;
                }

                @include xxxl {
                    margin: 8rem 0 0 0;
                }

                .course-instructor-picture {
                    max-width: 4rem;
                    max-height: 4rem;
                }

                .author-text {
                    p {
                        margin: 0;
                        padding: 0;
                        color: var(--color-gray-900);
                    }

                    .by {
                        @include h6;
                        margin: 0.4rem 0 0 0;

                        @include xl {
                            color: #fff;
                        }
                    }

                    .author {
                        @include text-m;
                        margin: 0 0 0.4rem 0;

                        @include xl {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .course-description {
        margin-top: 2rem;

        @include xl {
            margin-top: 6rem;
        }

        .grid-container {

            @include md {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-areas:
                    ' title includes' ' learn learn';
                gap: 0 4rem;
            }

            @include lg {
                grid-template-areas:
                    ' title includes' ' learn includes' ' learn .';
            }


            @include xxl {
                grid-template-columns: auto auto auto;
                grid-template-areas:
                    ' title title includes' ' learn learn includes'
            }

            .title-box {
                grid-area: title;

                @include xl {
                    padding-right: 9rem;
                }

                h2 {
                    @include h5;

                    @include xl {
                        @include h2;
                    }
                }

                p {
                    @include text-s;

                    @include xl {
                        @include text-m;
                    }
                }
            }

            .what-you-learn-box {
                grid-area: learn;

                h3 {
                    @include h6;

                    @include xl {
                        @include h3;
                    }
                }

                p {
                    @include text-s;

                    i {
                        margin-right: 0.5rem;
                    }
                }
            }

            .course-includes-box {
                grid-area: includes;
                @include card;
                padding: 1rem;

                @include md {
                    padding: 1rem 2rem;
                    // margin-right: 4rem;
                }

                @include xl {
                    padding: 2rem 8rem 2rem 2rem;
                }

                h3 {
                    @include h6;

                    @include xl {
                        @include h4;
                    }
                }

                p {
                    @include text-s;

                    img {
                        margin-right: 0.5rem;
                    }
                }

                span {
                    margin-right: 0.5rem;
                }

                .discount-price {
                    @include h6;

                    @include xl {
                        @include h4;
                    }
                }

                .price {
                    @include h6;

                    @include xl {
                        @include h4;
                    }
                }

                .strikethrough {
                    @include text-xs;
                    text-decoration-line: line-through;

                    @include xl {
                        @include text-m;
                    }
                }

                .join-course-wrapper {
                    display: flex;
                    gap: 1rem;

                    button, div {
                        margin: 1rem 0;
                        white-space: nowrap;
                    }

                    .btn {
                        background-color: var(--color-success);
                        color: var(--color-gray-900);
                        cursor: default;
                    }
                }
            }
        }
    }

    .program-details {
        margin-top: 2rem;

        @include xl {
            margin-top: 4rem;
        }

        h2 {
            @include h5;

            @include xl {
                @include h2;
            }
        }

        .grid-container {
            @include xl {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .progression-boxes {
                .progress-box {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    align-items: flex-start;
                    gap: 1rem;
                    margin: 1rem 0;

                    @include xl {
                        gap: 3rem;
                    }

                    .outer-circle {
                        position: relative;
                        padding: 0.4rem;
                        background-color: var(--color-gray-200);
                        @include card;
                        border-radius: 100%;

                        .inner-circle {
                            padding: 0.8rem;
                            background-color: var(--color-gray-000);
                            border-radius: 100%;

                            .number {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                @include h6;
                            }
                        }

                        .connector-line {
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 2rem;
                            width: 0.1rem;
                            background-color: var(--color-gray-200);

                            @include md {
                                height: 8rem;
                            }

                            @include lg {
                                height: 6rem;
                            }

                            @include xl {
                                height: 12rem;
                            }

                            @include xxl {
                                height: 10.5rem;
                            }
                        }
                    }

                    .text-box {
                        .progress-title {
                            @include h6;
                            margin: 0;
                        }

                        .progress-description {
                            display: none;

                            @include md {
                                display: block;
                            }
                        }
                    }
                }
            }

            .empty-container {
                display: none;
            }
        }
    }

    .about-author-box {

        .grid-wrapper {
            box-shadow: 1px 1px 3px var(--color-gray-400), 1px 3px 5px var(--color-gray-300), 2px 6px 8px var(--color-gray-200), 3px 9px 12px var(--color-gray-100);
            border-radius: 0.5rem;
            overflow: hidden;
            display: grid;
            grid-template-columns: auto;
            ;

            @include md {
                grid-template-columns: auto 1fr;
                margin: 4rem 0 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include xxl {
                    width: auto;
                    height: auto;
                }
            }

            .bio-wrapper {
                position: relative;
                background-color: var(--color-gray-900);
                padding: 0.5rem;

                @include md {
                    padding: 4rem 2rem;
                }

                @include xxl {
                    padding: 6rem;
                }

                .sub-heading, .about-heading, .text, button {
                    color: var(--color-gray-000);
                }

                p {
                    @include text-xs;

                    @include xl {
                        @include text-lg;
                    }
                }

                .button-wrapper {
                    @include md {
                        display: flex;
                        justify-content: flex-start;
                        gap: 1rem;
                    }

                    @include lg {
                        gap: 1rem;
                    }

                    button {
                        margin: 0.5rem 0 0;

                        @include md {
                            @include text-xs;
                            color: #fff;
                            text-align: start;
                        }

                        @include lg {
                            @include text-s;
                            color: #fff;
                            text-align: center;
                        }
                    }

                    .subscribers {
                        background-color: var(--color-danger);
                    }

                    .followers {
                        background-color: var(--color-info);
                    }
                }

                .pattern {
                    position: absolute;
                    inset: 0;
                    z-index: 0;
                }
            }
        }
    }
}
