
<section class="container">
    <nav class="breadcrumb" style="--bs-breadcrumb-divider: '@BreadcrumbDivider';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <i class="fa-light fa-house"></i>
            <li class="breadcrumb-item">
                <NavLink href="/">Home</NavLink>
            </li>
            @if (navigationManager.ToBaseRelativePath(navigationManager.Uri) != "")
            {
                <li class="@(navigationManager.ToBaseRelativePath(navigationManager.Uri).EndsWith("Details")! ? "breadcrumb-item" : "breadcrumb-item active")">
                    <a>Course details</a>
                </li>
            }
        </ol>
    </nav>
</section>

@code {
    private string BreadcrumbDivider { get; set; } = ">";
}
