.input-group {

    input {
        padding: 10px 15px;
        border: 1px solid var(--color-gray-400);
        border-radius: 7px !important;
        overflow: hidden;
        outline: none;
        width: 100%;
        margin-bottom: 20px;
        background-color: var(--color-background);
        color: var(--color-gray-900);

        &.input-validation-error {
            color: var(--color-danger);
            border: 0.5px solid var(--color-danger) !important;

            &::placeholder {
                color: var(--color-danger);
                opacity: 0.4;
            }
        }
    }

    label {
        font-weight: 600;
        font-size: 16px;
        color: var(--color-gray-900);
        margin-bottom: 5px;
        margin-right: 20px;
    }

    span {

        &.field-validation-error {
            color: var(--color-danger);
            opacity: 0.6;
            position: absolute;
            right: 0;
        }
    }
}

.dropdown {
    border: 2px solid var(--color-gray-400);
    border-radius: 7px !important;
    background-color: var(--color-background);
    color: var(--color-gray-900);
    padding: 10px 15px;
    width: 100%;
    min-width: 330px;
    height: 48px;
    position: relative;
    cursor: pointer;

    .menu {

        .selected {
            color: var(--color-gray-500);
        }

        i {
            position: absolute;
            color: var(--color-gray-400);
            right: 15px;
            top: 15px;
        }
    }

    .select-options {
        position: absolute;
        width: 327px;
        top: 44px;
        left: 0px;
        display: none;
        background-color: white;
        color: black;
        border: 1px solid var(--color-gray-400);
        border-radius: 7px !important;
        z-index: 50;
    }

    .option {
        height: 35px;
        align-content: center;
        font-weight: 500;
        font-size: 15px;
        padding: 20px 10px;
        border: 1px solid var(--color-gray-300);

        &:hover {
            background-color: var(--color-gray-500);
        }
    }
}

.error-message {
    position: absolute;
    top: - 50px;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    width: 550px;
    text-align: center;
    background-color: #fc6262;
    border-radius: 10px !important;
    padding: 5px 0px;
}

.susccess-message {
    position: absolute;
    top: - 50px;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    background-color: #90d6a5;
    border-radius: 10px !important;
    padding: 5px 0px;
}
.alert-warning {
    position: absolute;
    top: - 50px;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    background-color: #90d6a5;
    border-radius: 10px !important;
    padding: 5px 0px;
}
.alert-danger {
    position: absolute;
    top: - 50px;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    background-color: #90d6a5;
    border-radius: 10px !important;
    padding: 5px 0px;
}