#messages {

    .container {
        display: flex;
        gap: 20px;


        .chat {
            margin-top: 2rem;
            display: flex;
            justify-content:space-between;
            align-items: center;
            border: 2px solid var(--color-gray-300);
            border-radius: 10px;
            width: 100%;
            color: black;
            font-weight: bold;
            font-size: 30px;
            position:relative;

            .messages {
                width: 20%;
                height: 100%;
                background-color: var(--color-gray-100);
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                border-right:none;
            }

            p{
                position:absolute;
                left:400px;
            }
        }
    }
}
