
<header>
    <div class="container">

        <NavLink id="logo" href="/"><img src="/img/logo-light.svg" alt="Silicon logo"></NavLink>        
        
        <HeaderNav />

        <MobileMenuButton />

        <div id="mobile-menu" aria-expanded="false">
            <HeaderNav />
        </div>

    </div>

    <script src="js/mobileMenu.js"></script>
</header>

@code {

}
